---
import BaseTitle from "./BaseTitle.astro"

import { resume } from "../../content/resume/data"
---

<section class="flex justify-between items-start border-b border-slate-800 pb-4 px-4">
	<div>
		<h1 class="text-3xl mb-4">{resume.name}</h1>
		<BaseTitle>{resume.positionAppliedFor}</BaseTitle>
	</div>

	<div class="max-h-[120px]">
		<img
			src={resume.avatarUrl}
			aria-hidden
			class="object-cover object-center w-[120px] h-[120px] rounded-full border-2 border-slate-800"
		/>
	</div>
</section>
