---
import { resume } from "../../content/resume/data"

import BaseArticle from "./BaseArticle.astro"
---

<BaseArticle title="Profile" class="col-span-4 py-4">
	<p class="leading-loose">{resume.biography}</p>
</BaseArticle>
