---
import { resume } from "../../content/resume/data"

import BaseArticle from "./BaseArticle.astro"
---

<BaseArticle title="Skills" visible={(resume.skills?.length || 0) > 0} class="pb-4">
	<p>
		{resume.skills.join(" , ")}
	</p>
</BaseArticle>
