---
import { resume } from "../content/resume/data"

import Layout from "../components/Layout.astro"

const openToWork = false
---

<Layout>
	<body>
		<main
			class="flex h-screen flex-col items-center justify-center space-y-2 py-8 lg:space-y-4 lg:py-16"
		>
			<div class="flex flex-col items-center space-y-2 lg:space-y-4">
				<div class="inline-block rounded-lg border bg-gray-100 px-3 py-1 text-base">
					<span>Frontend Developer</span>
					{openToWork && <span class="text-blue-700"> | Open to Work</span>}
				</div>
				<h1 class="text-4xl font-bold tracking-tighter lg:text-6xl/none">{resume.name}</h1>
				<p
					class="max-w-[600px] text-center text-gray-500 dark:text-gray-400 md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed"
				>
					I build beautiful and performant web experiences. Also create some JS libraries as a
					hobby.
				</p>

				<p>
					<span>Checkout my</span>
					<a href="/resume" class="text-blue-700 hover:text-blue-800 hover:underline">resume.</a>
				</p>
			</div>
		</main>
	</body>
</Layout>
