---
import "@fortawesome/fontawesome-free/css/all.min.css"

import Layout from "../components/Layout.astro"

import R01_Header from "../components/Resume/R01_Header.astro"
import R02_PersonalInformation from "../components/Resume/R02_PersonalInformation.astro"
import R03_Profile from "../components/Resume/R03_Profile.astro"
import R04_Contact from "../components/Resume/R04_Contact.astro"
import R05_Skills from "../components/Resume/R05_Skills.astro"
import R06_Education from "../components/Resume/R06_Educations.astro"
import R07_Languages from "../components/Resume/R07_Languages.astro"
import R08_References from "../components/Resume/R08_References.astro"
import R09_WorkExperiences from "../components/Resume/R09_WorkExperiences.astro"
import R10_Achievements from "../components/Resume/R10_Achievements.astro"
---

<Layout title="- Resume">
	<Fragment slot="head">
		<script>
			const printPDFBtn = document.getElementById("print-pdf")
			printPDFBtn?.addEventListener("click", () => window.print())

			const scrollToTopBtn = document.getElementById("scroll-to-top")
			scrollToTopBtn?.addEventListener("click", () =>
				window.scrollTo({ top: 0, behavior: "smooth" }),
			)
		</script>
	</Fragment>

	<body class="font-body screen:pb-40 relative">
		<header
			class="container mx-auto flex items-center justify-between py-8 print:hidden px-4 lg:px-0"
		>
			<h3 class="text-3xl font-semibold">
				<a href="/wai-lin/" class="text-blue-700 hover:text-blue-800">
					<i class="fa-solid fa-arrow-left"></i>
				</a>
				<span>Resume</span>
			</h3>

			<button
				id="print-pdf"
				class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 focus:outline-none"
			>
				<span class="mr-2">Save</span>
				<i class="fa-solid fa-print"></i>
			</button>
		</header>

		<button
			id="scroll-to-top"
			title="Scroll to Top"
			class="fixed bottom-10 right-20 size-10 rounded-full bg-blue-700 text-white print:hidden"
		>
			<i class="fa-solid fa-arrow-up"></i>
		</button>

		<!-- SECTION: Resume -->
		<main
			id="resume-content"
			class="text-xs screen:container screen:mx-auto screen:px-10 screen:py-20 screen:border screen:border-slate-800"
		>
			<R01_Header />

			<section class="grid grid-cols-7 gap-4">
				<div class="pt-4 px-4 bg-slate-100 col-span-3">
					<R02_PersonalInformation />
				</div>

				<R03_Profile />
			</section>

			<section class="grid grid-cols-7 gap-4">
				<!-- Left Side -->
				<aside class="space-y-4 bg-slate-100 col-span-3 p-4">
					<R04_Contact />
					<R05_Skills />
					<R06_Education />
					<R07_Languages />
					<R08_References />
				</aside>

				<!-- Right Side -->
				<div class="col-span-4">
					<R09_WorkExperiences />
					<R10_Achievements />
				</div>
			</section>
		</main>
	</body>
</Layout>
