---
import { resume } from "../content/resume/data"

interface Props {
	title?: string
}
const { title } = Astro.props
---

<html class="font-body">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/wai-lin/w.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans+Myanmar:wght@100;200;300;400;500;600;700;800;900&display=swap"
		/>

		<title>{resume.name} {title}</title>

		<slot name="head" />
	</head>

	<slot />


</html>
