---
const { title, hasBorder = true } = Astro.props

const borderClass = hasBorder ? "border-b border-slate-400" : ""
---

<article class={borderClass + " pb-4"}>
	<h4 class="text-lg mb-4">{title}</h4>

	<slot />
</article>
