---
interface Props {
	title: string
	className?: string
	hasBorder?: boolean
	visible?: boolean
}
const { title, className, hasBorder = true, visible = true } = Astro.props

const borderClass = hasBorder ? "border-b border-dashed border-slate-400 " : ""
---

{
	visible && (
		<article class={borderClass + className}>
			<h4 class="text-lg mb-4 uppercase">{title}</h4>

			<slot />
		</article>
	)
}
